<div class="container">
	<div class="row">
		<div class="col-lg-6 col-lg-offset-3">
			<div class="top-wrapper d-flex align-items-center">
				<h1 class="top-title">welcome to <span class="fa fa-book"></span>Bookers !!</h1>
				<p class="top-text">
					In <span class="fa fa-book"></span><strong>Bookers</strong>,<br>
					you can share and exchange your opinions, Inpressions, and emotions<br>
					about various books!
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-lg-offset-4">
				<%= link_to 'Log In', new_user_session_path, class: "btn btn-default btn-block sign-in" %>
				<%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-default btn-block sign-up" %>
			</div>
		</div>
	</div>
</div>